<form>
  <img src="assets/user.png" />

  <input type="text"    placeholder="Digite o nome..."      id="txtNome"    name="txtNome"    class="form-control" />
  <input type="number"  placeholder="Digite sua idade..."   id="txtIdade"   name="txtIdade"   class="form-control" />
  <input type="text"    placeholder="Digite sua cidade..."  id="txtCidade"  name="txtCidade"  class="form-control" />

  <input type="button" value="Cadastrar"  id="btnCadastrar" name="btnCadastrar" class="btn btn-primary"/>
  <input type="button" value="Alterar"    id="btnAlterar"   name="btnAlterar"   class="btn btn-warning"/>
  <input type="button" value="Remover"    id="btnRemover"   name="btnRemover"   class="btn btn-danger"/>
  <input type="button" value="Cancelar"   id="btnCancelar"  name="btnCancelar"  class="btn btn-secondary"/>

</form>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Cidade</th>
      <th>Selecionar</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

